
/* for table responseness in media query remove margion:auto  */

.tablediv{
  width:70%;
  margin: auto;               
  padding: 30px 0px;
  /* border: 1px solid red; */
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #CED2CC;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #B2B2B2;}
  /* table tr:nth-child(odd){background-color: #f2f2f2;} */
  table tr:nth-child(odd){background-color: #F1F1F1;}
  
  table tr:hover {background-color: #CED2CC;}
  
  table th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1A0000;
    color: white;
  }

  


  /* searchbar */
  .searchdiv{
    /* height: 50px; */
    /* border: 1px solid black; */
    /* margin: auto; */
    display: flex;
    width:100%;
    justify-content: space-between;
  }
  .searchdiv > .btndiv{
    width:40%;
    /* border: 1px solid yellow; */
  }
  .searchdiv .search{
    width:60%;
    /* border: 1px solid yellow; */
  }
  

 .btn{
    
    background-color: #146C94;
    padding: 10px 40px;
    /* margin: auto; */
    margin-top: 3px;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  } 

  .search{
    /* width:30%; */
    /* border:1px solid red; */
    /* margin: auto; */
    padding-top: 18px;
  }
  .search label{
    color:#146C94;
    font-weight: bold;
  }

/* pagination and add user */
  .paginationdiv{
    /* height: 50px; */
    /* border: 1px solid black; */
    /* margin: auto; */
    width:100%;
    
  }
  .pagination{
    display: flex;
    width:100%;
    border:1px solid yellow;
    justify-content: space-between;
    margin:auto;
    
  }
  

  
  
  @media only screen and (max-width: 500px) {
   .searchdiv{
      width:100%;
      display: flex;
      justify-content: space-evenly;
      border: 1px solid blue;
    }
   .searchdiv .search {
      width: 46%;
      border: 1px solid yellow;
  }
  .paginationdiv{
    width:100%;
    display: flex;
    justify-content: space-between;
  }
  .pagination{
  margin-left: 55px;
    
  }
      
  }
  

  @media only screen and (max-width: 800px) {
    .tablediv{
      width:100%;
      /* margin: auto;                */
      /* padding: 30px 0px; */
      /* border: 1px solid red; */
    }
    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 80%;
      margin: auto;
    }
    table td, table th {
      border: 1px solid #CED2CC;
      padding: 4px;
    }
    .searchdiv{
      width:80%;
      margin: auto;
    }
    .btn {
      background-color: #146C94;
      padding: 7px 18px;
      /* margin: auto; */
      margin-top: 26px;
      margin-bottom: 5px;
      border: none;
      border-radius: 20px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      margin-left: -122px;
  }
    .search{
      /* margin-left: -1px; */
      /* width:30%; */
      /* border:1px solid red; */
      /* margin: auto; */
      padding-top: 34px;
      /* border:1px solid red; */
      margin-right: -63px;
    }
    .paginationdiv{
      width: 80%;
    }
    .pagination{
     margin-left: 75px;
      }
    
      
  }

  @media only screen and (max-width: 1200px) {
    .btn{
      margin-left: -120px;
    }
    .search{
      margin-right: -60px;
    }
  }
  

 